<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>3page</title>
    <style>
        .select {
            height: 50px;
            width: 200px;
            border: 1px sollid #c4c4c4;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 12px 13px;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 16px;
            text-align: right;
        }

        .booking{
            margin: auto;
            text-align: ceneter;
        }
    </style>
    <script>
        $(document).ready(function () {
            movie_date()
        })

        function movie_doc() {
            fetch('/movie').then(res => res.json()).then(data => {
                let movie_name = data['result']['title']
            })
            movie_name.forEach((a) => {
                temp = a['movie_name']
                $("#movie").append("<option value='" + a + "'>" + temp + "</option>")
            });

        }

        function movie_date() {
            var now = new Date()
            var now_year = now.getFullYear()
            var now_month = now.getMonth()
            var all_date = new Date(now_year, now_month + 1, 0)
            last_date = all_date.getDate()

            $("#year").append("<option value=''>년도</option>");
            for (var y = now_year; y <= (now_year + 10); y++) {
                $("#year").append("<option value='" + y + "'>" + y + " 년" + "</option>");
            }

            $("#month").append("<option value=''>월</option>");
            for (var m = 1; m <= 12; m++) {
                if (String(m).length == '1') {
                    $("#month").append("<option value='" + "0" + m + "'>" + "0" + m + "월" + "</option>");
                } else {
                    $("#month").append("<option value='" + m + "'>" + m + "월" + "</option>");
                }
            }
            $("#date").append("<option value=''>일</option>");
            for (var d = 1; d <= last_date; d++) {
                $("#date").append("<option value='" + d + "'>" + d + " 일" + "</option>");
            }
        }

        function finish() {
            var year = $('#year').val()
            var month = $('#month').val();
            var date = $('#date').val();
            let formData = new FormData();
            formData.append(year, month, date);

            fetch('/book', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
                window.location.reload();
            });
        }
    </script>
</head>

<body>
    <div class="booking">
        <h1>예약하실 날짜와 영화, 좌석을 선택해주세요</h1>
    </div>
    <div>
        <select class="select" class="form-control input-sm" id="year" name="year">
        </select>
        <select class="select" class="form-control input-sm" id="month" name="month">
        </select>
        <select class="select" class="form-control input-sm" id="date" name="date">
        </select>
        <select class="select" class="form-control input-sm" id="movie" name="movie">
        </select>
        <button onclick="finish()" type="button" class="finish finish-outline-primary" id="book" name="test">선택완료</button>
        </select>
    </div>
</body>

</html>